[submodule "image_size/unikraft/image_size/unikraft/helloworld"]
	path = image_size/unikraft/image_size/unikraft/helloworld
	url = https://github.com/unikraft/app-helloworld
[submodule "image_size/unikraft/helloworld"]
	path = image_size/unikraft/helloworld
	url = https://github.com/unikraft/app-helloworld
[submodule "image_size/unikraft/nginx"]
	path = image_size/unikraft/nginx
	url = https://github.com/unikraft/app-nginx
[submodule "image_size/unikraft/redis"]
	path = image_size/unikraft/redis
	url = https://github.com/unikraft/app-redis
[submodule "image_size/unikraft/sqlite"]
	path = image_size/unikraft/sqlite
	url = https://github.com/unikraft/app-sqlite
